/*
### CUSTOM STYLES
*/

/*
### OVERALL STYLES
*/

h1 {
  color: rgb(12, 12, 12);
  text-align: center;
}
// .body {
//   background-image: url("image.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.link {
  color: rgb(20, 108, 190);
  margin-left: 10px;
  font-size: 20px;
}

input {
  margin-right: 10px;
  margin-left: 10px;
}

.exercise {
  border-color:rgb(12, 12, 12);
  border-style: solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

.exerciseCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center
}

.cardBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  // background-color: rgba(128, 128, 128, 0.226);  
}

#historyDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

#exerciseType {
  width: 20%;
  text-align: center;
}

#carouselDiv {
  width: 100vw;
}